.btn-100days{
    background-color: lightgreen;
    border-radius: 25px !important;
    border-style: solid;
    border-color: gainsboro;
    margin: 5px !important;
}

.btn-100days:hover{
    background-color: #90ff90;
}

.btn-100days:disabled{
    background-color: transparent;
    border-style: none;
}

.modal-header{
    background-color: #A3A1A1;
}

.modal-title{
    color: #FAFAFA;
}

.close{
    color: #FAFAFA;
}

.close:hover{
    color: white;
}