body {
    color: #212121;
    background-color: #FAFAFA;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.8em;
}
p{
    font-size: 1.8rem;
}